{% load staticfiles %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% block favicon %}<link href="{% static 'media/images/favicon.png' %}" rel="shortcut icon" />{% endblock %}
</head>
<body>
    <header class="cover"></header>

    <div id="filtros">

        <h5 id="tituloFiltro">Filtros de Pesquisa</h5>

        <div class="row">
            <form method="get">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" name="busca" placeholder="Buscar">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Pesquisar</button>
                        </span>
                    </div>
                    <br/>
                    <div>
                        <select>
                            <option label="Ano" value="Ano" selected="selected">Ano</option>
                            <option label="2018" value="2018" >2018</option>
                            <option label="2017" value="2017" >2017</option>
                            <option label="2016" value="2016" >2016</option>
                            <option label="2015" value="2015" >2015</option>
                            <option label="2014" value="2014" >2014</option>
                            <option label="2013" value="2013" >2013</option>
                            <option label="2012" value="2012" >2012</option>
                            <option label="2011" value="2011" >2011</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <nav class="navbar navbar-default nav-justified">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Recursos Aplicados: </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="{% url 'listar_bolsas' categoria='bolsas' %}">Bolsas <span class="linkTotal">{% block totalBolsas %}{% endblock %}</span></a></li>
                    <li><a href="{% url 'listar_projetos' categoria='projetos' %}">Projetos de Pesquisa <span class="linkTotal">{% block totalProjetos %}{% endblock %}</span></a></li>
                    <li><a href="{% url 'listar_participacao_eventos' categoria='eventos' %}">Participação em Eventos <span class="linkTotal">{% block totalEvePar %}{% endblock %}</span></a></li>
                    <li><a href="{% url 'listar_organizacao_eventos' categoria='eventos' %}">Organização de Eventos <span class="linkTotal">{% block totalEveOrg %}{% endblock %}</span></a></li>
                    <li><a href="{% url 'listar_publicacoes' categoria='publicacao' %}">Publicações Científicas <span class="linkTotal">{% block totalPubli %}{% endblock %}</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div id="containeresquerda">
            {% block contentEsquerda %}
            {% endblock %}
        </div>
        <div id="containerdireita">
            {% block contentDireita %}
            {% endblock %}
        </div>
    </div>
</body>
</html>