{% load staticfiles %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% block favicon %}<link href="{% static 'media/images/favicon.png' %}" rel="shortcut icon" />{% endblock %}
</head>
<body>
    <header class="cover"></header>

    <div id="filtros">

        <div class="row">
            <form action="/bolsa/listar/bolsas/" method="get">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" name="busca" placeholder="Buscar Pesquisador">
                        <!--div>
                        <select class="form-control" name="instituicao">
                            {% block instituicoes %} {% endblock %}
                        </select>
                    </div>
                    <br/>
                    <div>
                        <select class="form-control" name="programa">
                            {% block programa %} {% endblock %}
                        </select>
                    </div>
                    <br/-->
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Pesquisar</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <nav class="navbar navbar-default nav-justified">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Recursos Aplicados: </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="{% url 'listar_bolsas' categoria='bolsas' %}">Bolsas <span class="linkTotal">{% block totalBolsas %}{% endblock %}</span></a></li>
                    <li><a href="{% url 'listar_projetos' categoria='projetos' %}">Projetos de Pesquisa <span class="linkTotal">{% block totalProjetos %}{% endblock %}</span></a></li>
                    <li><a href="{% url 'listar_participacao_eventos' categoria='eventos' %}">Participação em Eventos <span class="linkTotal">{% block totalEvePar %}{% endblock %}</span></a></li>
                    <li><a href="{% url 'listar_organizacao_eventos' categoria='eventos' %}">Organização de Eventos <span class="linkTotal">{% block totalEveOrg %}{% endblock %}</span></a></li>
                    <li><a href="{% url 'listar_publicacoes' categoria='publicacao' %}">Publicações Científicas <span class="linkTotal">{% block totalPubli %}{% endblock %}</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div id="containeresquerda">
            {% block contentEsquerda %}
            {% endblock %}
        </div>
        <div id="containerdireita">
            {% block contentDireita %}
            {% endblock %}
        </div>
    </div>
</body>
</html>