{% load staticfiles %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% block favicon %}<link href="{% static 'media/images/favicon.png' %}" rel="shortcut icon" />{% endblock %}
</head>
<body>
    <header class="cover"></header>

    <nav class="navbar navbar-default nav-justified">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Recursos Aplicados: </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="{% url 'listar_bolsas' categoria='bolsas' %}">Bolsas</a></li>
                    <li><a href="">Projetos de Pesquisa</a></li>
                    <li><a href="{% url 'listar_participacao_eventos' categoria='eventos' %}">Participação em Eventos</a></li>
                    <li><a href="{% url 'listar_organizacao_eventos' categoria='eventos' %}">Organização de Eventos</a></li>
                    <li><a href="">Publicações Científicas</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div id="containeresquerda">
            {% block contentEsquerda %}
            {% endblock %}
        </div>
        <div id="containerdireita">
            {% block contentDireita %}
            {% endblock %}
        </div>
    </div>
</body>
</html>