{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Observatório FAPEPI
{% endblock title %}

{% block busca %}

    <form method="get">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" name="busca" placeholder="Buscar Pesquisador">
                <!--div>
                        <select class="form-control" name="instituicao">
                            {% block instituicoes %} {% endblock %}
                        </select>
                    </div>
                    <br/>
                    <div>
                        <select class="form-control" name="programa">
                            {% block programa %} {% endblock %}
                        </select>
                    </div>
                    <br/-->
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Pesquisar</button>
                </span>
            </div>
        </div>
    </form>

{% endblock busca %}

{% block totalBolsas %} {{ bolsas|length }} {% endblock totalBolsas %}

{% block totalProjetos %} {{ projetos|length }}{% endblock totalProjetos %}

{% block totalEvePar %} {{ eventosParticipacao|length }}{% endblock totalEvePar %}

{% block totalEveOrg %} {{ eventosOrganizacao|length }}{% endblock totalEveOrg %}

{% block totalPubli %} {{ publicacoes|length }}{% endblock totalPubli %}

{% block contentEsquerda %}

    {% for evento in eventosOrganizacao %}

        <h5> Pesquisador: {{ evento.pesquisador.nome }} </h5>
        <h6>
            <p>Evento: {{ evento.titulo }} </p>
            <p>Local: {{ evento.estado }} </p>
            <p>Área: {{ evento.area }} </p>
            <p>Data: {{ evento.data }} </p>
        </h6>
        <hr/>

    {% endfor %}

{% endblock contentEsquerda %}

{% block contentDireita %}

    <object width="100%" height="100%" type="text/html" data="http://127.0.0.1:8000/evento/mapa/eventos/organizacao/">

    </object>

{% endblock contentDireita %}