<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_09e9457c2de546a18be09a083873b080 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_09e9457c2de546a18be09a083873b080" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_09e9457c2de546a18be09a083873b080 = L.map(
                                  'map_09e9457c2de546a18be09a083873b080',
                                  {center: [-15.788497,-47.879873],
                                  zoom: 4,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_cc50f9ea615f4c2a80a7ed5d1caaaac8 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_09e9457c2de546a18be09a083873b080);
        
    

            var marker_0b8c81493a5d4287bd042659b0242ff9 = L.marker(
                [-22.9,-43.2],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_09e9457c2de546a18be09a083873b080);
            
    
            var popup_9a86a69bd42f45f4ad01f5a8a699ec22 = L.popup({maxWidth: '300'});

            
                var html_432b90c708d44361820cbd6b630303c4 = $('<div id="html_432b90c708d44361820cbd6b630303c4" style="width: 100.0%; height: 100.0%;">Localização da Bolsa</div>')[0];
                popup_9a86a69bd42f45f4ad01f5a8a699ec22.setContent(html_432b90c708d44361820cbd6b630303c4);
            

            marker_0b8c81493a5d4287bd042659b0242ff9.bindPopup(popup_9a86a69bd42f45f4ad01f5a8a699ec22);

            
        
</script>