<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_f3fb8d67dc7e4955928bed62e817b615 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_f3fb8d67dc7e4955928bed62e817b615" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_f3fb8d67dc7e4955928bed62e817b615 = L.map(
        'map_f3fb8d67dc7e4955928bed62e817b615', {
        center: [-15.788497, -47.879873],
        zoom: 4,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_4a8789a360514b2989d708a3ebad0cb1 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_f3fb8d67dc7e4955928bed62e817b615);
    
        var marker_1a110bed04dd47be850ee989f04a9358 = L.marker(
            [-3.1, -60.02],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_f3fb8d67dc7e4955928bed62e817b615);
        
    
            var popup_9b9ac015f2c84ea48d8bb3f63b3094c6 = L.popup({maxWidth: '300'
            
            });

            
                var html_8f1e178a916146bdb136dcd2ef309f42 = $('<div id="html_8f1e178a916146bdb136dcd2ef309f42" style="width: 100.0%; height: 100.0%;">MANAUS-AM</br> Total de Projetos: 1</br><a href="http://127.0.0.1:8080/projeto/listarrestri/MANAUS-AM" target="_blank"> Pesquisadores </a></div>')[0];
                popup_9b9ac015f2c84ea48d8bb3f63b3094c6.setContent(html_8f1e178a916146bdb136dcd2ef309f42);
            

            marker_1a110bed04dd47be850ee989f04a9358.bindPopup(popup_9b9ac015f2c84ea48d8bb3f63b3094c6)
            ;

            
        
</script>