<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_595f740e27464b76975ce1aa24d831a8 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_595f740e27464b76975ce1aa24d831a8" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_595f740e27464b76975ce1aa24d831a8 = L.map(
                                  'map_595f740e27464b76975ce1aa24d831a8',
                                  {center: [-15.788497,-47.879873],
                                  zoom: 4,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_0d43358ed9444669bcea29afa3d4e13a = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_595f740e27464b76975ce1aa24d831a8);
        
    

            var marker_a8c352ea1cf54cf2aa2284e9fa2f586e = L.marker(
                [-3.71,-38.54],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_595f740e27464b76975ce1aa24d831a8);
            
    
            var popup_01b2d8b9328e4cbba4c0ae88e79ffcd2 = L.popup({maxWidth: '300'});

            
                var html_8275e56a213b47bcb91cdf6045929924 = $('<div id="html_8275e56a213b47bcb91cdf6045929924" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_01b2d8b9328e4cbba4c0ae88e79ffcd2.setContent(html_8275e56a213b47bcb91cdf6045929924);
            

            marker_a8c352ea1cf54cf2aa2284e9fa2f586e.bindPopup(popup_01b2d8b9328e4cbba4c0ae88e79ffcd2);

            
        
    

            var marker_e4af3bd5abc6430ea12292ca2bf82356 = L.marker(
                [-15.78,-47.93],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_595f740e27464b76975ce1aa24d831a8);
            
    
            var popup_b72256933ba64229ab991fcf9f686a9d = L.popup({maxWidth: '300'});

            
                var html_02604c8b41fd4a2c9960d1c3adc918bd = $('<div id="html_02604c8b41fd4a2c9960d1c3adc918bd" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_b72256933ba64229ab991fcf9f686a9d.setContent(html_02604c8b41fd4a2c9960d1c3adc918bd);
            

            marker_e4af3bd5abc6430ea12292ca2bf82356.bindPopup(popup_b72256933ba64229ab991fcf9f686a9d);

            
        
    

            var marker_d22579fbb1ec480a9a4fc2b9d4333475 = L.marker(
                [-8.05,-34.88],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_595f740e27464b76975ce1aa24d831a8);
            
    
            var popup_f9985873802349cb87acf145ae29b9a7 = L.popup({maxWidth: '300'});

            
                var html_53e12949dfc64ec7881fde28db838883 = $('<div id="html_53e12949dfc64ec7881fde28db838883" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_f9985873802349cb87acf145ae29b9a7.setContent(html_53e12949dfc64ec7881fde28db838883);
            

            marker_d22579fbb1ec480a9a4fc2b9d4333475.bindPopup(popup_f9985873802349cb87acf145ae29b9a7);

            
        
    

            var marker_de7c50d12fc04d08a327943b466cf65b = L.marker(
                [-22.9,-43.2],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_595f740e27464b76975ce1aa24d831a8);
            
    
            var popup_8bc86a4aa4c14ca090fad5d5a59664a1 = L.popup({maxWidth: '300'});

            
                var html_d5b210d21dac4d7985124f8701175881 = $('<div id="html_d5b210d21dac4d7985124f8701175881" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_8bc86a4aa4c14ca090fad5d5a59664a1.setContent(html_d5b210d21dac4d7985124f8701175881);
            

            marker_de7c50d12fc04d08a327943b466cf65b.bindPopup(popup_8bc86a4aa4c14ca090fad5d5a59664a1);

            
        
    

            var marker_75bcd13a46094254982071167d957c74 = L.marker(
                [-23.54,-46.63],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_595f740e27464b76975ce1aa24d831a8);
            
    
            var popup_c7b3a092b470481dbdfd30976559a090 = L.popup({maxWidth: '300'});

            
                var html_6ca5bfce052943eb9f63f72d5e304ad6 = $('<div id="html_6ca5bfce052943eb9f63f72d5e304ad6" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_c7b3a092b470481dbdfd30976559a090.setContent(html_6ca5bfce052943eb9f63f72d5e304ad6);
            

            marker_75bcd13a46094254982071167d957c74.bindPopup(popup_c7b3a092b470481dbdfd30976559a090);

            
        
    

            var marker_8a9d37b70573486fb896422ee821caec = L.marker(
                [-23.54,-46.63],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_595f740e27464b76975ce1aa24d831a8);
            
    
            var popup_65a43921788245db9cdfbb9c48a61fb1 = L.popup({maxWidth: '300'});

            
                var html_b2c2e4b4d430446ca60b5aff01d71cf5 = $('<div id="html_b2c2e4b4d430446ca60b5aff01d71cf5" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_65a43921788245db9cdfbb9c48a61fb1.setContent(html_b2c2e4b4d430446ca60b5aff01d71cf5);
            

            marker_8a9d37b70573486fb896422ee821caec.bindPopup(popup_65a43921788245db9cdfbb9c48a61fb1);

            
        
    

            var marker_108128294e3343a3a1b4207c9d57c7af = L.marker(
                [-23.54,-46.63],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_595f740e27464b76975ce1aa24d831a8);
            
    
            var popup_e7c05e795fbe4630b0af2801aad2fc69 = L.popup({maxWidth: '300'});

            
                var html_85bf031607b14f839b289bd1ec10d2d2 = $('<div id="html_85bf031607b14f839b289bd1ec10d2d2" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_e7c05e795fbe4630b0af2801aad2fc69.setContent(html_85bf031607b14f839b289bd1ec10d2d2);
            

            marker_108128294e3343a3a1b4207c9d57c7af.bindPopup(popup_e7c05e795fbe4630b0af2801aad2fc69);

            
        
</script>