<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_34d970ed22e44db89fb15662ff58ceae {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_34d970ed22e44db89fb15662ff58ceae" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_34d970ed22e44db89fb15662ff58ceae = L.map(
        'map_34d970ed22e44db89fb15662ff58ceae', {
        center: [-15.788497, -47.879873],
        zoom: 4,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_7f241ad27093427886a4a436f53e0c96 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_34d970ed22e44db89fb15662ff58ceae);
    
        var marker_7f5fd5c1acac4c9f8d1369e52d2ea1ec = L.marker(
            [-3.1, -60.02],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_34d970ed22e44db89fb15662ff58ceae);
        
    
            var popup_a45245f864a94f5288a627fc841bbab6 = L.popup({maxWidth: '300'
            
            });

            
                var html_4bcf0c6fb6764c469b71bcb49356f66d = $('<div id="html_4bcf0c6fb6764c469b71bcb49356f66d" style="width: 100.0%; height: 100.0%;">MANAUS-AM</br> Total de Bolsas: 3</br><a href="http://127.0.0.1:8000/bolsa/listarrestri/MANAUS-AM" target="_blank"> Pesquisadores </a></div>')[0];
                popup_a45245f864a94f5288a627fc841bbab6.setContent(html_4bcf0c6fb6764c469b71bcb49356f66d);
            

            marker_7f5fd5c1acac4c9f8d1369e52d2ea1ec.bindPopup(popup_a45245f864a94f5288a627fc841bbab6)
            ;

            
        
    
        var marker_92382caadb4146ae87ce9a20e097bd04 = L.marker(
            [-3.1, -60.02],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_34d970ed22e44db89fb15662ff58ceae);
        
    
            var popup_f53e669a3feb489a88857902521bef45 = L.popup({maxWidth: '300'
            
            });

            
                var html_424085f4108b4391983fdeaaa2c7bafa = $('<div id="html_424085f4108b4391983fdeaaa2c7bafa" style="width: 100.0%; height: 100.0%;">MANAUS-AM</br> Total de Bolsas: 3</br><a href="http://127.0.0.1:8000/bolsa/listarrestri/MANAUS-AM" target="_blank"> Pesquisadores </a></div>')[0];
                popup_f53e669a3feb489a88857902521bef45.setContent(html_424085f4108b4391983fdeaaa2c7bafa);
            

            marker_92382caadb4146ae87ce9a20e097bd04.bindPopup(popup_f53e669a3feb489a88857902521bef45)
            ;

            
        
    
        var marker_1f21fe7c12544924b06fef67239d304c = L.marker(
            [-3.1, -60.02],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_34d970ed22e44db89fb15662ff58ceae);
        
    
            var popup_cc34b860caaf4e359d72d498614cf8b9 = L.popup({maxWidth: '300'
            
            });

            
                var html_9d99eabcf4404c74bb470635898331f0 = $('<div id="html_9d99eabcf4404c74bb470635898331f0" style="width: 100.0%; height: 100.0%;">MANAUS-AM</br> Total de Bolsas: 3</br><a href="http://127.0.0.1:8000/bolsa/listarrestri/MANAUS-AM" target="_blank"> Pesquisadores </a></div>')[0];
                popup_cc34b860caaf4e359d72d498614cf8b9.setContent(html_9d99eabcf4404c74bb470635898331f0);
            

            marker_1f21fe7c12544924b06fef67239d304c.bindPopup(popup_cc34b860caaf4e359d72d498614cf8b9)
            ;

            
        
    
        var marker_0be96d228de743599d95ac8f424a9b8a = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_34d970ed22e44db89fb15662ff58ceae);
        
    
            var popup_bb63b1a0cb1048128a978b0d694fd02e = L.popup({maxWidth: '300'
            
            });

            
                var html_5155f31cc78b45be8a4ac2ac7338a490 = $('<div id="html_5155f31cc78b45be8a4ac2ac7338a490" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Bolsas: 1</br><a href="http://127.0.0.1:8000/bolsa/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_bb63b1a0cb1048128a978b0d694fd02e.setContent(html_5155f31cc78b45be8a4ac2ac7338a490);
            

            marker_0be96d228de743599d95ac8f424a9b8a.bindPopup(popup_bb63b1a0cb1048128a978b0d694fd02e)
            ;

            
        
</script>