<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_88725ffdab5a49f0bbfad21d556de5ab {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_88725ffdab5a49f0bbfad21d556de5ab" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_88725ffdab5a49f0bbfad21d556de5ab = L.map(
        'map_88725ffdab5a49f0bbfad21d556de5ab', {
        center: [-15.788497, -47.879873],
        zoom: 4,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_b7ecf25bfad04ecba5373f7520b2253b = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_88725ffdab5a49f0bbfad21d556de5ab);
    
        var marker_5e04fe09fd8d415db07309f9751a7df4 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_88725ffdab5a49f0bbfad21d556de5ab);
        
    
            var popup_caabd381e3ba46aeb4e20a418cf4606d = L.popup({maxWidth: '300'
            
            });

            
                var html_ffa3770cd87f4e13a445314d923b8730 = $('<div id="html_ffa3770cd87f4e13a445314d923b8730" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Eventos: 5</br><a href="http://127.0.0.1:8000/evento/organizacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_caabd381e3ba46aeb4e20a418cf4606d.setContent(html_ffa3770cd87f4e13a445314d923b8730);
            

            marker_5e04fe09fd8d415db07309f9751a7df4.bindPopup(popup_caabd381e3ba46aeb4e20a418cf4606d)
            ;

            
        
    
        var marker_a74916184c494ad18dd8d54a12403040 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_88725ffdab5a49f0bbfad21d556de5ab);
        
    
            var popup_cf5d0d1285c64c728b5a9825ccdc5f39 = L.popup({maxWidth: '300'
            
            });

            
                var html_f2aedac71c8044558a2d974321af264d = $('<div id="html_f2aedac71c8044558a2d974321af264d" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Eventos: 5</br><a href="http://127.0.0.1:8000/evento/organizacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_cf5d0d1285c64c728b5a9825ccdc5f39.setContent(html_f2aedac71c8044558a2d974321af264d);
            

            marker_a74916184c494ad18dd8d54a12403040.bindPopup(popup_cf5d0d1285c64c728b5a9825ccdc5f39)
            ;

            
        
    
        var marker_5a44c05e39db4bef8aff7cc705edd883 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_88725ffdab5a49f0bbfad21d556de5ab);
        
    
            var popup_a3640ff302ed46c9a326ec381d5f106a = L.popup({maxWidth: '300'
            
            });

            
                var html_d26b083ac2b14ac1b293c9f2e67d4205 = $('<div id="html_d26b083ac2b14ac1b293c9f2e67d4205" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Eventos: 5</br><a href="http://127.0.0.1:8000/evento/organizacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_a3640ff302ed46c9a326ec381d5f106a.setContent(html_d26b083ac2b14ac1b293c9f2e67d4205);
            

            marker_5a44c05e39db4bef8aff7cc705edd883.bindPopup(popup_a3640ff302ed46c9a326ec381d5f106a)
            ;

            
        
    
        var marker_7cd9458a665b405c80edef3aa6e302a4 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_88725ffdab5a49f0bbfad21d556de5ab);
        
    
            var popup_df6e1190f39e40d89c5bb0af8946e131 = L.popup({maxWidth: '300'
            
            });

            
                var html_ab1880e9d8e44dbdaeed17dbf683acf0 = $('<div id="html_ab1880e9d8e44dbdaeed17dbf683acf0" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Eventos: 5</br><a href="http://127.0.0.1:8000/evento/organizacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_df6e1190f39e40d89c5bb0af8946e131.setContent(html_ab1880e9d8e44dbdaeed17dbf683acf0);
            

            marker_7cd9458a665b405c80edef3aa6e302a4.bindPopup(popup_df6e1190f39e40d89c5bb0af8946e131)
            ;

            
        
    
        var marker_f565355822414e8ea6c86303d83f5914 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_88725ffdab5a49f0bbfad21d556de5ab);
        
    
            var popup_7059d0473cd1401cbb4f24410c6ca713 = L.popup({maxWidth: '300'
            
            });

            
                var html_944b0c9a856948658a5d632b2a14e455 = $('<div id="html_944b0c9a856948658a5d632b2a14e455" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Eventos: 5</br><a href="http://127.0.0.1:8000/evento/organizacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_7059d0473cd1401cbb4f24410c6ca713.setContent(html_944b0c9a856948658a5d632b2a14e455);
            

            marker_f565355822414e8ea6c86303d83f5914.bindPopup(popup_7059d0473cd1401cbb4f24410c6ca713)
            ;

            
        
</script>