<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_efe684baa05f4d3196104fc5138ca88a {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_efe684baa05f4d3196104fc5138ca88a" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_efe684baa05f4d3196104fc5138ca88a = L.map(
        'map_efe684baa05f4d3196104fc5138ca88a', {
        center: [-15.788497, -47.879873],
        zoom: 4,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_942fb81100934db6a3ba7566c8307663 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_efe684baa05f4d3196104fc5138ca88a);
    
        var marker_c4d29478e80d4aa8bd3e2991c31251a3 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_9aa7ec2643cd4afeaaccaa5ff126ba67 = L.popup({maxWidth: '300'
            
            });

            
                var html_1d4796751dc44b13bd55fdc65b69527a = $('<div id="html_1d4796751dc44b13bd55fdc65b69527a" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_9aa7ec2643cd4afeaaccaa5ff126ba67.setContent(html_1d4796751dc44b13bd55fdc65b69527a);
            

            marker_c4d29478e80d4aa8bd3e2991c31251a3.bindPopup(popup_9aa7ec2643cd4afeaaccaa5ff126ba67)
            ;

            
        
    
        var marker_169e974e67a147d2a494c5935a93fc26 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_9f4bd5b20c7648d8bb58b2566190cf5d = L.popup({maxWidth: '300'
            
            });

            
                var html_9bd6d0e21aeb4631904390c74468f127 = $('<div id="html_9bd6d0e21aeb4631904390c74468f127" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_9f4bd5b20c7648d8bb58b2566190cf5d.setContent(html_9bd6d0e21aeb4631904390c74468f127);
            

            marker_169e974e67a147d2a494c5935a93fc26.bindPopup(popup_9f4bd5b20c7648d8bb58b2566190cf5d)
            ;

            
        
    
        var marker_785356409d1746c38b991e7264c78e8a = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_3822f0055b754d5db2812b61b850b1c4 = L.popup({maxWidth: '300'
            
            });

            
                var html_e2de46514734471cbfa0d636e94e5efa = $('<div id="html_e2de46514734471cbfa0d636e94e5efa" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_3822f0055b754d5db2812b61b850b1c4.setContent(html_e2de46514734471cbfa0d636e94e5efa);
            

            marker_785356409d1746c38b991e7264c78e8a.bindPopup(popup_3822f0055b754d5db2812b61b850b1c4)
            ;

            
        
    
        var marker_eaf2691b5a404f2286fad9c884ae6201 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_ac5410c3b8b840a6b81492cff4772270 = L.popup({maxWidth: '300'
            
            });

            
                var html_5915fb23738242cdb7f964cf2537de5b = $('<div id="html_5915fb23738242cdb7f964cf2537de5b" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_ac5410c3b8b840a6b81492cff4772270.setContent(html_5915fb23738242cdb7f964cf2537de5b);
            

            marker_eaf2691b5a404f2286fad9c884ae6201.bindPopup(popup_ac5410c3b8b840a6b81492cff4772270)
            ;

            
        
    
        var marker_a3f17f82a0744839b6439655674af1a3 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_8c1cd668b2334b3e85c169d35cb3a39e = L.popup({maxWidth: '300'
            
            });

            
                var html_8b5fd0ad64024875ae170dd0978578aa = $('<div id="html_8b5fd0ad64024875ae170dd0978578aa" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_8c1cd668b2334b3e85c169d35cb3a39e.setContent(html_8b5fd0ad64024875ae170dd0978578aa);
            

            marker_a3f17f82a0744839b6439655674af1a3.bindPopup(popup_8c1cd668b2334b3e85c169d35cb3a39e)
            ;

            
        
    
        var marker_d904f9f20c5d48bb823027edaae3250a = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_52d6684a8b9646f5bf62fbf6ab29eae9 = L.popup({maxWidth: '300'
            
            });

            
                var html_3d9329d85cdd4aa8acf8f032b7577718 = $('<div id="html_3d9329d85cdd4aa8acf8f032b7577718" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_52d6684a8b9646f5bf62fbf6ab29eae9.setContent(html_3d9329d85cdd4aa8acf8f032b7577718);
            

            marker_d904f9f20c5d48bb823027edaae3250a.bindPopup(popup_52d6684a8b9646f5bf62fbf6ab29eae9)
            ;

            
        
    
        var marker_5d2c7cfed52748ef9cfa17cf2d4f4263 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_2a559612569149b286ed307f3cf904d5 = L.popup({maxWidth: '300'
            
            });

            
                var html_ff83f0c70ca74d70bd11629928b4baa8 = $('<div id="html_ff83f0c70ca74d70bd11629928b4baa8" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_2a559612569149b286ed307f3cf904d5.setContent(html_ff83f0c70ca74d70bd11629928b4baa8);
            

            marker_5d2c7cfed52748ef9cfa17cf2d4f4263.bindPopup(popup_2a559612569149b286ed307f3cf904d5)
            ;

            
        
    
        var marker_ce6ea36f2d094d28a03956d976bb7c1e = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_7bb5ae0067934e5681a8995199c511d4 = L.popup({maxWidth: '300'
            
            });

            
                var html_52361102bf564190802b5bb5965dcbf1 = $('<div id="html_52361102bf564190802b5bb5965dcbf1" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_7bb5ae0067934e5681a8995199c511d4.setContent(html_52361102bf564190802b5bb5965dcbf1);
            

            marker_ce6ea36f2d094d28a03956d976bb7c1e.bindPopup(popup_7bb5ae0067934e5681a8995199c511d4)
            ;

            
        
    
        var marker_2a06f73d6b274316946dcc329b363d5a = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_f2eca5ffe9d743759762e8f63ed03ef8 = L.popup({maxWidth: '300'
            
            });

            
                var html_5dd4994fcffb441b86f56f08462ceff6 = $('<div id="html_5dd4994fcffb441b86f56f08462ceff6" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_f2eca5ffe9d743759762e8f63ed03ef8.setContent(html_5dd4994fcffb441b86f56f08462ceff6);
            

            marker_2a06f73d6b274316946dcc329b363d5a.bindPopup(popup_f2eca5ffe9d743759762e8f63ed03ef8)
            ;

            
        
    
        var marker_60c7adfbd6ed476181fb11fe01ccee8e = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_85bdb7a6a4814b20a3ba97e36f1d4d03 = L.popup({maxWidth: '300'
            
            });

            
                var html_4a926630a3e8400d8303d8a08948ab51 = $('<div id="html_4a926630a3e8400d8303d8a08948ab51" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_85bdb7a6a4814b20a3ba97e36f1d4d03.setContent(html_4a926630a3e8400d8303d8a08948ab51);
            

            marker_60c7adfbd6ed476181fb11fe01ccee8e.bindPopup(popup_85bdb7a6a4814b20a3ba97e36f1d4d03)
            ;

            
        
    
        var marker_9a40e0fa868f4b50a911d9ee979e73f9 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_843d8ae22a904eb99f82abb5a99a5a0e = L.popup({maxWidth: '300'
            
            });

            
                var html_5e6418bfa71346ce80a7ac3f2b3d0394 = $('<div id="html_5e6418bfa71346ce80a7ac3f2b3d0394" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_843d8ae22a904eb99f82abb5a99a5a0e.setContent(html_5e6418bfa71346ce80a7ac3f2b3d0394);
            

            marker_9a40e0fa868f4b50a911d9ee979e73f9.bindPopup(popup_843d8ae22a904eb99f82abb5a99a5a0e)
            ;

            
        
    
        var marker_cdc8465c08f74940a82aa60579f5f6e8 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_766db70ef06f42899ef7008d86046aa1 = L.popup({maxWidth: '300'
            
            });

            
                var html_9bf0ffe17e3c4b6e90802c68752c34db = $('<div id="html_9bf0ffe17e3c4b6e90802c68752c34db" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_766db70ef06f42899ef7008d86046aa1.setContent(html_9bf0ffe17e3c4b6e90802c68752c34db);
            

            marker_cdc8465c08f74940a82aa60579f5f6e8.bindPopup(popup_766db70ef06f42899ef7008d86046aa1)
            ;

            
        
    
        var marker_dc8dbfb07d0942e28bf709baeb73f8d3 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_efe684baa05f4d3196104fc5138ca88a);
        
    
            var popup_dc9bc1aee3484f6f89d6d9f3c6d46c84 = L.popup({maxWidth: '300'
            
            });

            
                var html_84fcc0592bdc47048ace20a6cf74cff5 = $('<div id="html_84fcc0592bdc47048ace20a6cf74cff5" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_dc9bc1aee3484f6f89d6d9f3c6d46c84.setContent(html_84fcc0592bdc47048ace20a6cf74cff5);
            

            marker_dc8dbfb07d0942e28bf709baeb73f8d3.bindPopup(popup_dc9bc1aee3484f6f89d6d9f3c6d46c84)
            ;

            
        
</script>