<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_9c9225c24b9046f28bfff319d62ac356 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_9c9225c24b9046f28bfff319d62ac356" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_9c9225c24b9046f28bfff319d62ac356 = L.map(
        'map_9c9225c24b9046f28bfff319d62ac356', {
        center: [-15.788497, -47.879873],
        zoom: 4,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_a9a8e5b95e1948a2b6b7c71fb3a6152a = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_9c9225c24b9046f28bfff319d62ac356);
    
        var marker_e2d4b55cda96492ca95231d82f841b03 = L.marker(
            [-9.97, -67.81],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_9c9225c24b9046f28bfff319d62ac356);
        
    
            var popup_fdb93063a392457eab488ab143a91898 = L.popup({maxWidth: '300'
            
            });

            
                var html_6407c3aa92a84113ae8068be8885f6ce = $('<div id="html_6407c3aa92a84113ae8068be8885f6ce" style="width: 100.0%; height: 100.0%;">RIOBRANCO-AC</br> Total de Eventos: 2</br><a href="http://127.0.0.1:8000/evento/participacao/listarrestri/RIOBRANCO-AC" target="_blank"> Pesquisadores </a></div>')[0];
                popup_fdb93063a392457eab488ab143a91898.setContent(html_6407c3aa92a84113ae8068be8885f6ce);
            

            marker_e2d4b55cda96492ca95231d82f841b03.bindPopup(popup_fdb93063a392457eab488ab143a91898)
            ;

            
        
    
        var marker_e1a80364cd5f4c8abf9fff1ec7bd1cf3 = L.marker(
            [-9.97, -67.81],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_9c9225c24b9046f28bfff319d62ac356);
        
    
            var popup_67d7a13ec763452c8018c659946c1ca2 = L.popup({maxWidth: '300'
            
            });

            
                var html_af2079aae3af40dc9bfcd11ffa8d3058 = $('<div id="html_af2079aae3af40dc9bfcd11ffa8d3058" style="width: 100.0%; height: 100.0%;">RIOBRANCO-AC</br> Total de Eventos: 2</br><a href="http://127.0.0.1:8000/evento/participacao/listarrestri/RIOBRANCO-AC" target="_blank"> Pesquisadores </a></div>')[0];
                popup_67d7a13ec763452c8018c659946c1ca2.setContent(html_af2079aae3af40dc9bfcd11ffa8d3058);
            

            marker_e1a80364cd5f4c8abf9fff1ec7bd1cf3.bindPopup(popup_67d7a13ec763452c8018c659946c1ca2)
            ;

            
        
    
        var marker_5ffcd22b54384f20a4ccedfc612f7335 = L.marker(
            [-9.66, -35.73],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_9c9225c24b9046f28bfff319d62ac356);
        
    
            var popup_e5c6c08e53fe43359ceebc3d6c002c29 = L.popup({maxWidth: '300'
            
            });

            
                var html_62dd6928d3d24765a37b51c092dc79fe = $('<div id="html_62dd6928d3d24765a37b51c092dc79fe" style="width: 100.0%; height: 100.0%;">MACEIO-AL</br> Total de Eventos: 1</br><a href="http://127.0.0.1:8000/evento/participacao/listarrestri/MACEIO-AL" target="_blank"> Pesquisadores </a></div>')[0];
                popup_e5c6c08e53fe43359ceebc3d6c002c29.setContent(html_62dd6928d3d24765a37b51c092dc79fe);
            

            marker_5ffcd22b54384f20a4ccedfc612f7335.bindPopup(popup_e5c6c08e53fe43359ceebc3d6c002c29)
            ;

            
        
    
        var marker_2bf5c422b1b54fba91d612869253421f = L.marker(
            [0.03, -51.06],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_9c9225c24b9046f28bfff319d62ac356);
        
    
            var popup_06fced197d8e43ad8ed0823d436055b0 = L.popup({maxWidth: '300'
            
            });

            
                var html_b8a512ebab0f4ed189bdf5396117562f = $('<div id="html_b8a512ebab0f4ed189bdf5396117562f" style="width: 100.0%; height: 100.0%;">MACAPA-AP</br> Total de Eventos: 1</br><a href="http://127.0.0.1:8000/evento/participacao/listarrestri/MACAPA-AP" target="_blank"> Pesquisadores </a></div>')[0];
                popup_06fced197d8e43ad8ed0823d436055b0.setContent(html_b8a512ebab0f4ed189bdf5396117562f);
            

            marker_2bf5c422b1b54fba91d612869253421f.bindPopup(popup_06fced197d8e43ad8ed0823d436055b0)
            ;

            
        
</script>