<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_f8fe846cad3b4504a3c90a9baa719c66 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f8fe846cad3b4504a3c90a9baa719c66" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_f8fe846cad3b4504a3c90a9baa719c66 = L.map(
                                  'map_f8fe846cad3b4504a3c90a9baa719c66',
                                  {center: [-15.788497,-47.879873],
                                  zoom: 4,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_f5f7db90c4274e799c826f7d1c06cbaf = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_f8fe846cad3b4504a3c90a9baa719c66);
        
    

            var marker_a832d38ee80b41beab8a327cda182d11 = L.marker(
                [0.03,-51.06],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_f8fe846cad3b4504a3c90a9baa719c66);
            
    
            var popup_d083e7ecad0e46478cf6ff923c51332d = L.popup({maxWidth: '300'});

            
                var html_c834b49c94424bc9a0b792ff0be04ffc = $('<div id="html_c834b49c94424bc9a0b792ff0be04ffc" style="width: 100.0%; height: 100.0%;">MACAPA - AP</br> Total de Projetos: 1 .</div>')[0];
                popup_d083e7ecad0e46478cf6ff923c51332d.setContent(html_c834b49c94424bc9a0b792ff0be04ffc);
            

            marker_a832d38ee80b41beab8a327cda182d11.bindPopup(popup_d083e7ecad0e46478cf6ff923c51332d);

            
        
</script>