<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_c6063d20c09c402f9fad09d5178890a1 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_c6063d20c09c402f9fad09d5178890a1" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_c6063d20c09c402f9fad09d5178890a1 = L.map(
        'map_c6063d20c09c402f9fad09d5178890a1', {
        center: [-15.788497, -47.879873],
        zoom: 4,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_033205b48c554acc8c600b68329cdf8a = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_c6063d20c09c402f9fad09d5178890a1);
    
        var marker_fc1ee07696dc4fe7b1bd2d48bfffc589 = L.marker(
            [-3.1, -60.02],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_c6063d20c09c402f9fad09d5178890a1);
        
    
            var popup_c3f34feca18e4bdf8da80d5729f07ac6 = L.popup({maxWidth: '300'
            
            });

            
                var html_43df55fb479041e1bb51a00046dd0d18 = $('<div id="html_43df55fb479041e1bb51a00046dd0d18" style="width: 100.0%; height: 100.0%;">MANAUS-AM</br> Total de Bolsas: 3</br><a href="http://127.0.0.1:8000/bolsa/listarrestri/MANAUS-AM" target="_blank"> Pesquisadores </a></div>')[0];
                popup_c3f34feca18e4bdf8da80d5729f07ac6.setContent(html_43df55fb479041e1bb51a00046dd0d18);
            

            marker_fc1ee07696dc4fe7b1bd2d48bfffc589.bindPopup(popup_c3f34feca18e4bdf8da80d5729f07ac6)
            ;

            
        
    
        var marker_960fcb81eefe4d5fa5228a13e94e434d = L.marker(
            [-3.1, -60.02],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_c6063d20c09c402f9fad09d5178890a1);
        
    
            var popup_527ef587af0047e291719b517b6fcf67 = L.popup({maxWidth: '300'
            
            });

            
                var html_1ff8419f1ee34db78b107ab949fdea17 = $('<div id="html_1ff8419f1ee34db78b107ab949fdea17" style="width: 100.0%; height: 100.0%;">MANAUS-AM</br> Total de Bolsas: 3</br><a href="http://127.0.0.1:8000/bolsa/listarrestri/MANAUS-AM" target="_blank"> Pesquisadores </a></div>')[0];
                popup_527ef587af0047e291719b517b6fcf67.setContent(html_1ff8419f1ee34db78b107ab949fdea17);
            

            marker_960fcb81eefe4d5fa5228a13e94e434d.bindPopup(popup_527ef587af0047e291719b517b6fcf67)
            ;

            
        
    
        var marker_344e9a3141b041ebb64973718f658286 = L.marker(
            [-3.1, -60.02],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_c6063d20c09c402f9fad09d5178890a1);
        
    
            var popup_cfc167e21bd34c0895d4e21879282803 = L.popup({maxWidth: '300'
            
            });

            
                var html_e733df41d9074262b1266755885c15b6 = $('<div id="html_e733df41d9074262b1266755885c15b6" style="width: 100.0%; height: 100.0%;">MANAUS-AM</br> Total de Bolsas: 3</br><a href="http://127.0.0.1:8000/bolsa/listarrestri/MANAUS-AM" target="_blank"> Pesquisadores </a></div>')[0];
                popup_cfc167e21bd34c0895d4e21879282803.setContent(html_e733df41d9074262b1266755885c15b6);
            

            marker_344e9a3141b041ebb64973718f658286.bindPopup(popup_cfc167e21bd34c0895d4e21879282803)
            ;

            
        
    
        var marker_688696ab075249cf8d69d55a9d712a69 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_c6063d20c09c402f9fad09d5178890a1);
        
    
            var popup_a5fc9561a98e4f68b1d517d198ac1e14 = L.popup({maxWidth: '300'
            
            });

            
                var html_e75bc773d9a64dfc8b4891a87f64c1d3 = $('<div id="html_e75bc773d9a64dfc8b4891a87f64c1d3" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Bolsas: 1</br><a href="http://127.0.0.1:8000/bolsa/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_a5fc9561a98e4f68b1d517d198ac1e14.setContent(html_e75bc773d9a64dfc8b4891a87f64c1d3);
            

            marker_688696ab075249cf8d69d55a9d712a69.bindPopup(popup_a5fc9561a98e4f68b1d517d198ac1e14)
            ;

            
        
</script>