<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_8be3c057a1d6490995a2a998e54cceda {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8be3c057a1d6490995a2a998e54cceda" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_8be3c057a1d6490995a2a998e54cceda = L.map(
                                  'map_8be3c057a1d6490995a2a998e54cceda',
                                  {center: [-15.788497,-47.879873],
                                  zoom: 4,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_f33acec7111d4b2db8e2ea26fc566d93 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_8be3c057a1d6490995a2a998e54cceda);
        
    

            var marker_504aa519f00c4893a13cc6ea22eedd31 = L.marker(
                [-3.71,-38.54],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_8be3c057a1d6490995a2a998e54cceda);
            
    
            var popup_f5232bed77ec49ec8b37fffe3a400b9c = L.popup({maxWidth: '300'});

            
                var html_a29c0a0930584b73897b568de5877517 = $('<div id="html_a29c0a0930584b73897b568de5877517" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_f5232bed77ec49ec8b37fffe3a400b9c.setContent(html_a29c0a0930584b73897b568de5877517);
            

            marker_504aa519f00c4893a13cc6ea22eedd31.bindPopup(popup_f5232bed77ec49ec8b37fffe3a400b9c);

            
        
    

            var marker_d16494c80efb43fe8637690ab062c549 = L.marker(
                [-15.78,-47.93],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_8be3c057a1d6490995a2a998e54cceda);
            
    
            var popup_960f7840319e422a81c97121511519b2 = L.popup({maxWidth: '300'});

            
                var html_75a349d96f4e402a82c052cc5451b891 = $('<div id="html_75a349d96f4e402a82c052cc5451b891" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_960f7840319e422a81c97121511519b2.setContent(html_75a349d96f4e402a82c052cc5451b891);
            

            marker_d16494c80efb43fe8637690ab062c549.bindPopup(popup_960f7840319e422a81c97121511519b2);

            
        
    

            var marker_711e13120bc749df92b9d0d1b9a038dd = L.marker(
                [-8.05,-34.88],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_8be3c057a1d6490995a2a998e54cceda);
            
    
            var popup_68f146ba281249528b91b7d42b9cc0ab = L.popup({maxWidth: '300'});

            
                var html_954554d1592e41f39e984177fa0a718b = $('<div id="html_954554d1592e41f39e984177fa0a718b" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_68f146ba281249528b91b7d42b9cc0ab.setContent(html_954554d1592e41f39e984177fa0a718b);
            

            marker_711e13120bc749df92b9d0d1b9a038dd.bindPopup(popup_68f146ba281249528b91b7d42b9cc0ab);

            
        
    

            var marker_0aa490bf4361455f869431fb11582674 = L.marker(
                [-22.9,-43.2],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_8be3c057a1d6490995a2a998e54cceda);
            
    
            var popup_b58a746a8fd04bc0b1b8b1a79957a172 = L.popup({maxWidth: '300'});

            
                var html_6a1985df5c1a483a809345840e9bfa55 = $('<div id="html_6a1985df5c1a483a809345840e9bfa55" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_b58a746a8fd04bc0b1b8b1a79957a172.setContent(html_6a1985df5c1a483a809345840e9bfa55);
            

            marker_0aa490bf4361455f869431fb11582674.bindPopup(popup_b58a746a8fd04bc0b1b8b1a79957a172);

            
        
    

            var marker_2b8a443a517c4da5b57bbf687a9633c1 = L.marker(
                [-23.54,-46.63],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_8be3c057a1d6490995a2a998e54cceda);
            
    
            var popup_b9cc95e89c5047d58ece300feced6b9c = L.popup({maxWidth: '300'});

            
                var html_5ed3d1542adc427dbcee3adc37e29ca8 = $('<div id="html_5ed3d1542adc427dbcee3adc37e29ca8" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_b9cc95e89c5047d58ece300feced6b9c.setContent(html_5ed3d1542adc427dbcee3adc37e29ca8);
            

            marker_2b8a443a517c4da5b57bbf687a9633c1.bindPopup(popup_b9cc95e89c5047d58ece300feced6b9c);

            
        
    

            var marker_4cf9455379854d32bf4ceff287f5f7ef = L.marker(
                [-23.54,-46.63],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_8be3c057a1d6490995a2a998e54cceda);
            
    
            var popup_273c100b5e9a4c99b1a16a3a84f84617 = L.popup({maxWidth: '300'});

            
                var html_df461e26b8d640e6bac839a78c76d747 = $('<div id="html_df461e26b8d640e6bac839a78c76d747" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_273c100b5e9a4c99b1a16a3a84f84617.setContent(html_df461e26b8d640e6bac839a78c76d747);
            

            marker_4cf9455379854d32bf4ceff287f5f7ef.bindPopup(popup_273c100b5e9a4c99b1a16a3a84f84617);

            
        
    

            var marker_19b808b0e2c14b9c8c660c4afb6e8cca = L.marker(
                [-23.54,-46.63],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_8be3c057a1d6490995a2a998e54cceda);
            
    
            var popup_c5ff24288d2c49d2a446b1ff17180cfe = L.popup({maxWidth: '300'});

            
                var html_4f91b20a8c764cd29335dba99b7ccecb = $('<div id="html_4f91b20a8c764cd29335dba99b7ccecb" style="width: 100.0%; height: 100.0%;">Localização do Evento</div>')[0];
                popup_c5ff24288d2c49d2a446b1ff17180cfe.setContent(html_4f91b20a8c764cd29335dba99b7ccecb);
            

            marker_19b808b0e2c14b9c8c660c4afb6e8cca.bindPopup(popup_c5ff24288d2c49d2a446b1ff17180cfe);

            
        
</script>