<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_d22307365c8b4379b7c0e9ea4424ae25 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_d22307365c8b4379b7c0e9ea4424ae25" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_d22307365c8b4379b7c0e9ea4424ae25 = L.map(
        'map_d22307365c8b4379b7c0e9ea4424ae25', {
        center: [-15.788497, -47.879873],
        zoom: 4,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_95e624ae483b4d30987252848f961555 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
    
        var marker_fb69404240444331a0ad3d5016258b56 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_de3f88dac6e244f59631a694674bf17c = L.popup({maxWidth: '300'
            
            });

            
                var html_5dcf573639bf4377a160f2d2c113c4d3 = $('<div id="html_5dcf573639bf4377a160f2d2c113c4d3" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_de3f88dac6e244f59631a694674bf17c.setContent(html_5dcf573639bf4377a160f2d2c113c4d3);
            

            marker_fb69404240444331a0ad3d5016258b56.bindPopup(popup_de3f88dac6e244f59631a694674bf17c)
            ;

            
        
    
        var marker_f803b4d333e24d269940b25a6722d312 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_2b4441ad7a3244d98fa0d4cce2f2e1b0 = L.popup({maxWidth: '300'
            
            });

            
                var html_8d3b34a272df4d4994618e157683c588 = $('<div id="html_8d3b34a272df4d4994618e157683c588" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_2b4441ad7a3244d98fa0d4cce2f2e1b0.setContent(html_8d3b34a272df4d4994618e157683c588);
            

            marker_f803b4d333e24d269940b25a6722d312.bindPopup(popup_2b4441ad7a3244d98fa0d4cce2f2e1b0)
            ;

            
        
    
        var marker_bf8d9425992340a88a738dedf8acdfe6 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_36b8db7b7df149dbbf36b38130b648a0 = L.popup({maxWidth: '300'
            
            });

            
                var html_cee865cc1532495c960977144ff0fb3c = $('<div id="html_cee865cc1532495c960977144ff0fb3c" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_36b8db7b7df149dbbf36b38130b648a0.setContent(html_cee865cc1532495c960977144ff0fb3c);
            

            marker_bf8d9425992340a88a738dedf8acdfe6.bindPopup(popup_36b8db7b7df149dbbf36b38130b648a0)
            ;

            
        
    
        var marker_46d9a1c7071d489c94c0053273bbd30b = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_7f83fc81162445b9870f1fb6f5d1e38f = L.popup({maxWidth: '300'
            
            });

            
                var html_6f6459416f784579ab79b52d7f508f8b = $('<div id="html_6f6459416f784579ab79b52d7f508f8b" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_7f83fc81162445b9870f1fb6f5d1e38f.setContent(html_6f6459416f784579ab79b52d7f508f8b);
            

            marker_46d9a1c7071d489c94c0053273bbd30b.bindPopup(popup_7f83fc81162445b9870f1fb6f5d1e38f)
            ;

            
        
    
        var marker_beb90925c9604e7491979b0c9e21f80e = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_bef05c381e4a42c3975c15f3434ca0cf = L.popup({maxWidth: '300'
            
            });

            
                var html_4de8e38bc4994d68bb47e00c6ad4a709 = $('<div id="html_4de8e38bc4994d68bb47e00c6ad4a709" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_bef05c381e4a42c3975c15f3434ca0cf.setContent(html_4de8e38bc4994d68bb47e00c6ad4a709);
            

            marker_beb90925c9604e7491979b0c9e21f80e.bindPopup(popup_bef05c381e4a42c3975c15f3434ca0cf)
            ;

            
        
    
        var marker_2abdb91f76a24e7da0417d6aac7cf2ca = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_d786d8b426914f50b493c2ade8a26e96 = L.popup({maxWidth: '300'
            
            });

            
                var html_d715f68246354b9f94fa590f779392d7 = $('<div id="html_d715f68246354b9f94fa590f779392d7" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_d786d8b426914f50b493c2ade8a26e96.setContent(html_d715f68246354b9f94fa590f779392d7);
            

            marker_2abdb91f76a24e7da0417d6aac7cf2ca.bindPopup(popup_d786d8b426914f50b493c2ade8a26e96)
            ;

            
        
    
        var marker_0eec51decd1b44739b649870675e61f9 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_30ff68746ea14ff294a11fd0e73b9dd6 = L.popup({maxWidth: '300'
            
            });

            
                var html_d70d78323baf4bcd9010e88403966056 = $('<div id="html_d70d78323baf4bcd9010e88403966056" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_30ff68746ea14ff294a11fd0e73b9dd6.setContent(html_d70d78323baf4bcd9010e88403966056);
            

            marker_0eec51decd1b44739b649870675e61f9.bindPopup(popup_30ff68746ea14ff294a11fd0e73b9dd6)
            ;

            
        
    
        var marker_bce36bb8a1b049c8b82629a0943c3df4 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_9d34a6c9a38a4264ab4c9f66e7b3c7d1 = L.popup({maxWidth: '300'
            
            });

            
                var html_71f4562e6f2c4bd5ba18d91f2d8ba406 = $('<div id="html_71f4562e6f2c4bd5ba18d91f2d8ba406" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_9d34a6c9a38a4264ab4c9f66e7b3c7d1.setContent(html_71f4562e6f2c4bd5ba18d91f2d8ba406);
            

            marker_bce36bb8a1b049c8b82629a0943c3df4.bindPopup(popup_9d34a6c9a38a4264ab4c9f66e7b3c7d1)
            ;

            
        
    
        var marker_f3d8da70e1554992b70d773cb6991081 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_afda5d8537964bd89318aa53979174c8 = L.popup({maxWidth: '300'
            
            });

            
                var html_108434cbc8a044b2a9bd18948effa8f9 = $('<div id="html_108434cbc8a044b2a9bd18948effa8f9" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_afda5d8537964bd89318aa53979174c8.setContent(html_108434cbc8a044b2a9bd18948effa8f9);
            

            marker_f3d8da70e1554992b70d773cb6991081.bindPopup(popup_afda5d8537964bd89318aa53979174c8)
            ;

            
        
    
        var marker_9d958b86ed72445ca9f8c8a6a126ee36 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_9b6038719adc4a2781672332de0c5932 = L.popup({maxWidth: '300'
            
            });

            
                var html_76e7bd22c0a44d8f8e1e746c7c2da3b1 = $('<div id="html_76e7bd22c0a44d8f8e1e746c7c2da3b1" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_9b6038719adc4a2781672332de0c5932.setContent(html_76e7bd22c0a44d8f8e1e746c7c2da3b1);
            

            marker_9d958b86ed72445ca9f8c8a6a126ee36.bindPopup(popup_9b6038719adc4a2781672332de0c5932)
            ;

            
        
    
        var marker_0d5fae1a8cb240c6b9d667d80f464f77 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_e4651aeb7e2c4aec97d280b7e07e7b3f = L.popup({maxWidth: '300'
            
            });

            
                var html_5f175d23b8724bdc8391a20bfbffdb4a = $('<div id="html_5f175d23b8724bdc8391a20bfbffdb4a" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_e4651aeb7e2c4aec97d280b7e07e7b3f.setContent(html_5f175d23b8724bdc8391a20bfbffdb4a);
            

            marker_0d5fae1a8cb240c6b9d667d80f464f77.bindPopup(popup_e4651aeb7e2c4aec97d280b7e07e7b3f)
            ;

            
        
    
        var marker_c4066ae4fe1a4ea9b12cbb2eab75a670 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_aa25ce57d7284808ae27aaa5359341b8 = L.popup({maxWidth: '300'
            
            });

            
                var html_b543734292fa43caa75271025d4cfc3d = $('<div id="html_b543734292fa43caa75271025d4cfc3d" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_aa25ce57d7284808ae27aaa5359341b8.setContent(html_b543734292fa43caa75271025d4cfc3d);
            

            marker_c4066ae4fe1a4ea9b12cbb2eab75a670.bindPopup(popup_aa25ce57d7284808ae27aaa5359341b8)
            ;

            
        
    
        var marker_94cadaab650441f2aa9878a2e0d6d70b = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_d22307365c8b4379b7c0e9ea4424ae25);
        
    
            var popup_e527eeca5e654581b57ded04de0c4cb8 = L.popup({maxWidth: '300'
            
            });

            
                var html_f34a80a6bafc4659accf3490a32aafbe = $('<div id="html_f34a80a6bafc4659accf3490a32aafbe" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_e527eeca5e654581b57ded04de0c4cb8.setContent(html_f34a80a6bafc4659accf3490a32aafbe);
            

            marker_94cadaab650441f2aa9878a2e0d6d70b.bindPopup(popup_e527eeca5e654581b57ded04de0c4cb8)
            ;

            
        
</script>