<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_8ea691e5f1ae48cc9014c6a6585bbdc4 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_8ea691e5f1ae48cc9014c6a6585bbdc4" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_8ea691e5f1ae48cc9014c6a6585bbdc4 = L.map(
        'map_8ea691e5f1ae48cc9014c6a6585bbdc4', {
        center: [-15.788497, -47.879873],
        zoom: 4,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_c8f0acbe2b954cc8b43881f3446c7a84 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
    
        var marker_ca4c3a1664f34a8d800bd9fd98f959b4 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_8697e76bf74648be98025c2d7256275f = L.popup({maxWidth: '300'
            
            });

            
                var html_c2deece795254baab0b16e24b1c29a9f = $('<div id="html_c2deece795254baab0b16e24b1c29a9f" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_8697e76bf74648be98025c2d7256275f.setContent(html_c2deece795254baab0b16e24b1c29a9f);
            

            marker_ca4c3a1664f34a8d800bd9fd98f959b4.bindPopup(popup_8697e76bf74648be98025c2d7256275f)
            ;

            
        
    
        var marker_0cc4e1f2806d4a9183afe09abe799211 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_946fc11b28b5482e9dadbbf6d762f030 = L.popup({maxWidth: '300'
            
            });

            
                var html_bb8a9bc6482b408f8f9446a3ca68b22b = $('<div id="html_bb8a9bc6482b408f8f9446a3ca68b22b" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_946fc11b28b5482e9dadbbf6d762f030.setContent(html_bb8a9bc6482b408f8f9446a3ca68b22b);
            

            marker_0cc4e1f2806d4a9183afe09abe799211.bindPopup(popup_946fc11b28b5482e9dadbbf6d762f030)
            ;

            
        
    
        var marker_b2695edd2ace4c48add825dfae968fba = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_fbf7820f214642d68665e49c333aac6a = L.popup({maxWidth: '300'
            
            });

            
                var html_8d7c56b795c646c4b5983edc7296efbc = $('<div id="html_8d7c56b795c646c4b5983edc7296efbc" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_fbf7820f214642d68665e49c333aac6a.setContent(html_8d7c56b795c646c4b5983edc7296efbc);
            

            marker_b2695edd2ace4c48add825dfae968fba.bindPopup(popup_fbf7820f214642d68665e49c333aac6a)
            ;

            
        
    
        var marker_de956033253c42959fc0e4c2a6c5ed46 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_3e96f8b6ab474d66981879633c461fa2 = L.popup({maxWidth: '300'
            
            });

            
                var html_06043322f4f94108981b3853daaf9182 = $('<div id="html_06043322f4f94108981b3853daaf9182" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_3e96f8b6ab474d66981879633c461fa2.setContent(html_06043322f4f94108981b3853daaf9182);
            

            marker_de956033253c42959fc0e4c2a6c5ed46.bindPopup(popup_3e96f8b6ab474d66981879633c461fa2)
            ;

            
        
    
        var marker_3f779d316bc44e6eb0937310c5572212 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_2778789d51244de1aa9bdc48412b1852 = L.popup({maxWidth: '300'
            
            });

            
                var html_fd59f1ccf4094dd5a93bd6cf753b45be = $('<div id="html_fd59f1ccf4094dd5a93bd6cf753b45be" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_2778789d51244de1aa9bdc48412b1852.setContent(html_fd59f1ccf4094dd5a93bd6cf753b45be);
            

            marker_3f779d316bc44e6eb0937310c5572212.bindPopup(popup_2778789d51244de1aa9bdc48412b1852)
            ;

            
        
    
        var marker_f7b95fc2230149d2bef24ce255e52660 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_c6166cc8b8f044d7a79dd79030830267 = L.popup({maxWidth: '300'
            
            });

            
                var html_e36a32eb472e40c7910b6db05d6a5b98 = $('<div id="html_e36a32eb472e40c7910b6db05d6a5b98" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_c6166cc8b8f044d7a79dd79030830267.setContent(html_e36a32eb472e40c7910b6db05d6a5b98);
            

            marker_f7b95fc2230149d2bef24ce255e52660.bindPopup(popup_c6166cc8b8f044d7a79dd79030830267)
            ;

            
        
    
        var marker_3b63e0e257264741904be232baf920fa = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_24200e6a79214c88b75610a44f6453a3 = L.popup({maxWidth: '300'
            
            });

            
                var html_257ac873739c4c5a9791664c035f124a = $('<div id="html_257ac873739c4c5a9791664c035f124a" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_24200e6a79214c88b75610a44f6453a3.setContent(html_257ac873739c4c5a9791664c035f124a);
            

            marker_3b63e0e257264741904be232baf920fa.bindPopup(popup_24200e6a79214c88b75610a44f6453a3)
            ;

            
        
    
        var marker_57e9bacd2ab348958c505f669b1f4c90 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_ac15e18e7a6e4ec5be7fc9d31c2c6d7d = L.popup({maxWidth: '300'
            
            });

            
                var html_ee93d2a158e04734941f8a66fc6b7792 = $('<div id="html_ee93d2a158e04734941f8a66fc6b7792" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_ac15e18e7a6e4ec5be7fc9d31c2c6d7d.setContent(html_ee93d2a158e04734941f8a66fc6b7792);
            

            marker_57e9bacd2ab348958c505f669b1f4c90.bindPopup(popup_ac15e18e7a6e4ec5be7fc9d31c2c6d7d)
            ;

            
        
    
        var marker_d2ca490cc43248c69b4be1ec75fc51dd = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_81e58188c4674ecf999a50061422f77a = L.popup({maxWidth: '300'
            
            });

            
                var html_e4cb19c44bd1454abf520c6b5a0dd25b = $('<div id="html_e4cb19c44bd1454abf520c6b5a0dd25b" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_81e58188c4674ecf999a50061422f77a.setContent(html_e4cb19c44bd1454abf520c6b5a0dd25b);
            

            marker_d2ca490cc43248c69b4be1ec75fc51dd.bindPopup(popup_81e58188c4674ecf999a50061422f77a)
            ;

            
        
    
        var marker_d651a9cee5c346f7b42e8a1dc8b7f709 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_d323740d283a45c294107ecac5cd92e2 = L.popup({maxWidth: '300'
            
            });

            
                var html_74b96d10599f4f928b18b7a821e94a3e = $('<div id="html_74b96d10599f4f928b18b7a821e94a3e" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_d323740d283a45c294107ecac5cd92e2.setContent(html_74b96d10599f4f928b18b7a821e94a3e);
            

            marker_d651a9cee5c346f7b42e8a1dc8b7f709.bindPopup(popup_d323740d283a45c294107ecac5cd92e2)
            ;

            
        
    
        var marker_d62375b155bf4e4890f71fb21ff3d42a = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_9dc8243bf529436f8b81ec0de4205ae4 = L.popup({maxWidth: '300'
            
            });

            
                var html_48e1d20b49de4ad9aad3f9509068e178 = $('<div id="html_48e1d20b49de4ad9aad3f9509068e178" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_9dc8243bf529436f8b81ec0de4205ae4.setContent(html_48e1d20b49de4ad9aad3f9509068e178);
            

            marker_d62375b155bf4e4890f71fb21ff3d42a.bindPopup(popup_9dc8243bf529436f8b81ec0de4205ae4)
            ;

            
        
    
        var marker_7fa2c9fadb2b41a28ab0ce8bfb2531e3 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_8577bbab806b4fe38dade81bde32c22d = L.popup({maxWidth: '300'
            
            });

            
                var html_ff35d66eb59e4fb49ee827d4bd603392 = $('<div id="html_ff35d66eb59e4fb49ee827d4bd603392" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_8577bbab806b4fe38dade81bde32c22d.setContent(html_ff35d66eb59e4fb49ee827d4bd603392);
            

            marker_7fa2c9fadb2b41a28ab0ce8bfb2531e3.bindPopup(popup_8577bbab806b4fe38dade81bde32c22d)
            ;

            
        
    
        var marker_27f77045aef946b1b17b89e2c376ac87 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_8ea691e5f1ae48cc9014c6a6585bbdc4);
        
    
            var popup_c71b95b3bb7f42f399e4cb17b0185b1e = L.popup({maxWidth: '300'
            
            });

            
                var html_01cdcb061e90461da486a70846ff5126 = $('<div id="html_01cdcb061e90461da486a70846ff5126" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Publicações: 13</br><a href="http://127.0.0.1:8000/publicacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_c71b95b3bb7f42f399e4cb17b0185b1e.setContent(html_01cdcb061e90461da486a70846ff5126);
            

            marker_27f77045aef946b1b17b89e2c376ac87.bindPopup(popup_c71b95b3bb7f42f399e4cb17b0185b1e)
            ;

            
        
</script>