<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_24e41a0b13e5437f84ed180037055d10 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_24e41a0b13e5437f84ed180037055d10" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_24e41a0b13e5437f84ed180037055d10 = L.map(
                                  'map_24e41a0b13e5437f84ed180037055d10',
                                  {center: [-15.788497,-47.879873],
                                  zoom: 4,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_a25f1374dd574482ae17a9a12cd45cfa = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_24e41a0b13e5437f84ed180037055d10);
        
    

            var marker_c7de6516ac24490fa4b6fb01d10f96c8 = L.marker(
                [-5.08,-42.8],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_24e41a0b13e5437f84ed180037055d10);
            
    
            var popup_59f64c4e6ab448dfa51485b0c54ea927 = L.popup({maxWidth: '300'});

            
                var html_1496e03344d04de7b0d6c9569dadba58 = $('<div id="html_1496e03344d04de7b0d6c9569dadba58" style="width: 100.0%; height: 100.0%;">TERESINA - PI</br> Total de Eventos: 9 .</div>')[0];
                popup_59f64c4e6ab448dfa51485b0c54ea927.setContent(html_1496e03344d04de7b0d6c9569dadba58);
            

            marker_c7de6516ac24490fa4b6fb01d10f96c8.bindPopup(popup_59f64c4e6ab448dfa51485b0c54ea927);

            
        
    

            var marker_4ca62a74d9b54e6e8311ddcddf725e70 = L.marker(
                [-5.08,-42.8],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_24e41a0b13e5437f84ed180037055d10);
            
    
            var popup_369dc2f2144645438e6dd75faaf2033d = L.popup({maxWidth: '300'});

            
                var html_ff1e0e5901bf45138b36f1dc76b3a92b = $('<div id="html_ff1e0e5901bf45138b36f1dc76b3a92b" style="width: 100.0%; height: 100.0%;">TERESINA - PI</br> Total de Eventos: 9 .</div>')[0];
                popup_369dc2f2144645438e6dd75faaf2033d.setContent(html_ff1e0e5901bf45138b36f1dc76b3a92b);
            

            marker_4ca62a74d9b54e6e8311ddcddf725e70.bindPopup(popup_369dc2f2144645438e6dd75faaf2033d);

            
        
    

            var marker_bc39d64a60474b47b4fff78ec48515e1 = L.marker(
                [-5.08,-42.8],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_24e41a0b13e5437f84ed180037055d10);
            
    
            var popup_d811ff482caf4a159d78efe55eb2d7c1 = L.popup({maxWidth: '300'});

            
                var html_b20c40ac0e0a4894895c0b0285e514df = $('<div id="html_b20c40ac0e0a4894895c0b0285e514df" style="width: 100.0%; height: 100.0%;">TERESINA - PI</br> Total de Eventos: 9 .</div>')[0];
                popup_d811ff482caf4a159d78efe55eb2d7c1.setContent(html_b20c40ac0e0a4894895c0b0285e514df);
            

            marker_bc39d64a60474b47b4fff78ec48515e1.bindPopup(popup_d811ff482caf4a159d78efe55eb2d7c1);

            
        
    

            var marker_05da3b78d6d54882a7b21f7a3d9e8e6b = L.marker(
                [-5.08,-42.8],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_24e41a0b13e5437f84ed180037055d10);
            
    
            var popup_d8f34ca63456406d91129ccb1319082e = L.popup({maxWidth: '300'});

            
                var html_2f18ca7a4b554765b52529b56d49492b = $('<div id="html_2f18ca7a4b554765b52529b56d49492b" style="width: 100.0%; height: 100.0%;">TERESINA - PI</br> Total de Eventos: 9 .</div>')[0];
                popup_d8f34ca63456406d91129ccb1319082e.setContent(html_2f18ca7a4b554765b52529b56d49492b);
            

            marker_05da3b78d6d54882a7b21f7a3d9e8e6b.bindPopup(popup_d8f34ca63456406d91129ccb1319082e);

            
        
    

            var marker_7c882b9af0f144f0b2f3ad32e5d9bcbf = L.marker(
                [-5.08,-42.8],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_24e41a0b13e5437f84ed180037055d10);
            
    
            var popup_93aee961c46040e191b83e53938e2060 = L.popup({maxWidth: '300'});

            
                var html_a99330404eaa404b970be61e60a7778f = $('<div id="html_a99330404eaa404b970be61e60a7778f" style="width: 100.0%; height: 100.0%;">TERESINA - PI</br> Total de Eventos: 9 .</div>')[0];
                popup_93aee961c46040e191b83e53938e2060.setContent(html_a99330404eaa404b970be61e60a7778f);
            

            marker_7c882b9af0f144f0b2f3ad32e5d9bcbf.bindPopup(popup_93aee961c46040e191b83e53938e2060);

            
        
    

            var marker_016d81b2ea064a0f89e45c1c206e8e0a = L.marker(
                [-5.08,-42.8],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_24e41a0b13e5437f84ed180037055d10);
            
    
            var popup_009b40bd2da74f108d3403f8f591d181 = L.popup({maxWidth: '300'});

            
                var html_3dab55e0129b4774bf09fe27d8e30849 = $('<div id="html_3dab55e0129b4774bf09fe27d8e30849" style="width: 100.0%; height: 100.0%;">TERESINA - PI</br> Total de Eventos: 9 .</div>')[0];
                popup_009b40bd2da74f108d3403f8f591d181.setContent(html_3dab55e0129b4774bf09fe27d8e30849);
            

            marker_016d81b2ea064a0f89e45c1c206e8e0a.bindPopup(popup_009b40bd2da74f108d3403f8f591d181);

            
        
    

            var marker_1e9344e8a14b4660ae7209eaaf60101c = L.marker(
                [-5.08,-42.8],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_24e41a0b13e5437f84ed180037055d10);
            
    
            var popup_d899ccc00a0140108fe127df87d3381a = L.popup({maxWidth: '300'});

            
                var html_f4d6e56fffec4a35aeab12010c9702e3 = $('<div id="html_f4d6e56fffec4a35aeab12010c9702e3" style="width: 100.0%; height: 100.0%;">TERESINA - PI</br> Total de Eventos: 9 .</div>')[0];
                popup_d899ccc00a0140108fe127df87d3381a.setContent(html_f4d6e56fffec4a35aeab12010c9702e3);
            

            marker_1e9344e8a14b4660ae7209eaaf60101c.bindPopup(popup_d899ccc00a0140108fe127df87d3381a);

            
        
    

            var marker_bfecc085e36949beb326a464ac2f285d = L.marker(
                [-5.08,-42.8],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_24e41a0b13e5437f84ed180037055d10);
            
    
            var popup_fe62d32b342e4bb29b8cfa184c84e46d = L.popup({maxWidth: '300'});

            
                var html_4d62f0739e0e49209a6775e3caaa8b97 = $('<div id="html_4d62f0739e0e49209a6775e3caaa8b97" style="width: 100.0%; height: 100.0%;">TERESINA - PI</br> Total de Eventos: 9 .</div>')[0];
                popup_fe62d32b342e4bb29b8cfa184c84e46d.setContent(html_4d62f0739e0e49209a6775e3caaa8b97);
            

            marker_bfecc085e36949beb326a464ac2f285d.bindPopup(popup_fe62d32b342e4bb29b8cfa184c84e46d);

            
        
    

            var marker_4bcf52f4723849e9b21e18d2956330d5 = L.marker(
                [-5.08,-42.8],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_24e41a0b13e5437f84ed180037055d10);
            
    
            var popup_0e7c6f36d6894db9ae8db8d3e4829707 = L.popup({maxWidth: '300'});

            
                var html_e9c1d91159b6418a8cc1b582cadeca1c = $('<div id="html_e9c1d91159b6418a8cc1b582cadeca1c" style="width: 100.0%; height: 100.0%;">TERESINA - PI</br> Total de Eventos: 9 .</div>')[0];
                popup_0e7c6f36d6894db9ae8db8d3e4829707.setContent(html_e9c1d91159b6418a8cc1b582cadeca1c);
            

            marker_4bcf52f4723849e9b21e18d2956330d5.bindPopup(popup_0e7c6f36d6894db9ae8db8d3e4829707);

            
        
</script>