<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_f5835225e53f4146b5c11bb88ee338e2 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_f5835225e53f4146b5c11bb88ee338e2" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_f5835225e53f4146b5c11bb88ee338e2 = L.map(
        'map_f5835225e53f4146b5c11bb88ee338e2', {
        center: [-15.788497, -47.879873],
        zoom: 4,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_4d534afbd09a4ed6b16bacf2d3fb73dc = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_f5835225e53f4146b5c11bb88ee338e2);
    
        var marker_ae35858d51744eca81750dab181226f3 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_f5835225e53f4146b5c11bb88ee338e2);
        
    
            var popup_8d3c11377b974de38f55fee1e429e7bd = L.popup({maxWidth: '300'
            
            });

            
                var html_8ad64d294cea4828bbb76b9c0ccf1d85 = $('<div id="html_8ad64d294cea4828bbb76b9c0ccf1d85" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Eventos: 5</br><a href="http://127.0.0.1:8000/evento/organizacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_8d3c11377b974de38f55fee1e429e7bd.setContent(html_8ad64d294cea4828bbb76b9c0ccf1d85);
            

            marker_ae35858d51744eca81750dab181226f3.bindPopup(popup_8d3c11377b974de38f55fee1e429e7bd)
            ;

            
        
    
        var marker_7f9935e3077c4c97b0c4e824c0b3338e = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_f5835225e53f4146b5c11bb88ee338e2);
        
    
            var popup_5ae3efbb1d7c47fba4e25569e638e381 = L.popup({maxWidth: '300'
            
            });

            
                var html_a6a4ab6c64de4bfe8ac9e1dea8094d4e = $('<div id="html_a6a4ab6c64de4bfe8ac9e1dea8094d4e" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Eventos: 5</br><a href="http://127.0.0.1:8000/evento/organizacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_5ae3efbb1d7c47fba4e25569e638e381.setContent(html_a6a4ab6c64de4bfe8ac9e1dea8094d4e);
            

            marker_7f9935e3077c4c97b0c4e824c0b3338e.bindPopup(popup_5ae3efbb1d7c47fba4e25569e638e381)
            ;

            
        
    
        var marker_80d35af923e84087b49140da2c3e315e = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_f5835225e53f4146b5c11bb88ee338e2);
        
    
            var popup_7fcf07f3de214958bd25b8021067c06a = L.popup({maxWidth: '300'
            
            });

            
                var html_27068e17d27e45a6ae5805a810c6df8b = $('<div id="html_27068e17d27e45a6ae5805a810c6df8b" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Eventos: 5</br><a href="http://127.0.0.1:8000/evento/organizacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_7fcf07f3de214958bd25b8021067c06a.setContent(html_27068e17d27e45a6ae5805a810c6df8b);
            

            marker_80d35af923e84087b49140da2c3e315e.bindPopup(popup_7fcf07f3de214958bd25b8021067c06a)
            ;

            
        
    
        var marker_008ee842e34245958263603d206389bd = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_f5835225e53f4146b5c11bb88ee338e2);
        
    
            var popup_f525939fca9846439920122cc3a2789c = L.popup({maxWidth: '300'
            
            });

            
                var html_d044149906d9461d93743f0eb54e4d1d = $('<div id="html_d044149906d9461d93743f0eb54e4d1d" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Eventos: 5</br><a href="http://127.0.0.1:8000/evento/organizacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_f525939fca9846439920122cc3a2789c.setContent(html_d044149906d9461d93743f0eb54e4d1d);
            

            marker_008ee842e34245958263603d206389bd.bindPopup(popup_f525939fca9846439920122cc3a2789c)
            ;

            
        
    
        var marker_455c0bbd7ba74643b21e4ae02b548690 = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_f5835225e53f4146b5c11bb88ee338e2);
        
    
            var popup_7f58c8dd3b374bbbbdbbd832187f16f6 = L.popup({maxWidth: '300'
            
            });

            
                var html_a91efd8d510448dd82843ffcc6478f45 = $('<div id="html_a91efd8d510448dd82843ffcc6478f45" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Eventos: 5</br><a href="http://127.0.0.1:8000/evento/organizacao/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_7f58c8dd3b374bbbbdbbd832187f16f6.setContent(html_a91efd8d510448dd82843ffcc6478f45);
            

            marker_455c0bbd7ba74643b21e4ae02b548690.bindPopup(popup_7f58c8dd3b374bbbbdbbd832187f16f6)
            ;

            
        
</script>