<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_e5299aa5354b4c7f9c454710f5f53248 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_e5299aa5354b4c7f9c454710f5f53248" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_e5299aa5354b4c7f9c454710f5f53248 = L.map(
        'map_e5299aa5354b4c7f9c454710f5f53248', {
        center: [-15.788497, -47.879873],
        zoom: 4,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_e065afb347fe42bfb115b135528698a6 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_e5299aa5354b4c7f9c454710f5f53248);
    
        var marker_f2935c9171ad4c33b9bbaf59175dbe5e = L.marker(
            [-3.1, -60.02],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_e5299aa5354b4c7f9c454710f5f53248);
        
    
            var popup_eb7c1ddb5f084c4aa1d8e7ea939e4a2e = L.popup({maxWidth: '300'
            
            });

            
                var html_9f9f25889e6c485c88de767a94d6ad5e = $('<div id="html_9f9f25889e6c485c88de767a94d6ad5e" style="width: 100.0%; height: 100.0%;">MANAUS-AM</br> Total de Projetos: 1</br><a href="http://127.0.0.1:8000/projeto/listarrestri/MANAUS-AM" target="_blank"> Pesquisadores </a></div>')[0];
                popup_eb7c1ddb5f084c4aa1d8e7ea939e4a2e.setContent(html_9f9f25889e6c485c88de767a94d6ad5e);
            

            marker_f2935c9171ad4c33b9bbaf59175dbe5e.bindPopup(popup_eb7c1ddb5f084c4aa1d8e7ea939e4a2e)
            ;

            
        
</script>