<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS=false; L_NO_TOUCH=false; L_DISABLE_3D=false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
    <style>#map_7e4e8c65cc0d4863b05bc185074cb1a7 {
        position: relative;
        width: 100.0%;
        height: 100.0%;
        left: 0.0%;
        top: 0.0%;
        }
    </style>
</head>
<body>    
    
    <div class="folium-map" id="map_7e4e8c65cc0d4863b05bc185074cb1a7" ></div>
</body>
<script>    
    
    
        var bounds = null;
    

    var map_7e4e8c65cc0d4863b05bc185074cb1a7 = L.map(
        'map_7e4e8c65cc0d4863b05bc185074cb1a7', {
        center: [-15.788497, -47.879873],
        zoom: 4,
        maxBounds: bounds,
        layers: [],
        worldCopyJump: false,
        crs: L.CRS.EPSG3857,
        zoomControl: true,
        });

    
    
    var tile_layer_210f849f5dd142a8bfdfc885d0226b25 = L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {
        "attribution": null,
        "detectRetina": false,
        "maxNativeZoom": 18,
        "maxZoom": 18,
        "minZoom": 0,
        "noWrap": false,
        "subdomains": "abc"
}).addTo(map_7e4e8c65cc0d4863b05bc185074cb1a7);
    
        var marker_001261e0255b41d982e7930e4220a64d = L.marker(
            [-3.1, -60.02],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_7e4e8c65cc0d4863b05bc185074cb1a7);
        
    
            var popup_893688be9f464571bcfdcf432554cf4a = L.popup({maxWidth: '300'
            
            });

            
                var html_db3aa2e19c62494784876678c32213cb = $('<div id="html_db3aa2e19c62494784876678c32213cb" style="width: 100.0%; height: 100.0%;">MANAUS-AM</br> Total de Bolsas: 3</br><a href="http://127.0.0.1:8000/bolsa/listarrestri/MANAUS-AM" target="_blank"> Pesquisadores </a></div>')[0];
                popup_893688be9f464571bcfdcf432554cf4a.setContent(html_db3aa2e19c62494784876678c32213cb);
            

            marker_001261e0255b41d982e7930e4220a64d.bindPopup(popup_893688be9f464571bcfdcf432554cf4a)
            ;

            
        
    
        var marker_48ccd36f758b49f090524e7342751224 = L.marker(
            [-3.1, -60.02],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_7e4e8c65cc0d4863b05bc185074cb1a7);
        
    
            var popup_d4dc6440100049d6a7177488e95117e0 = L.popup({maxWidth: '300'
            
            });

            
                var html_7f19637243c347bbb6013e473243ed0d = $('<div id="html_7f19637243c347bbb6013e473243ed0d" style="width: 100.0%; height: 100.0%;">MANAUS-AM</br> Total de Bolsas: 3</br><a href="http://127.0.0.1:8000/bolsa/listarrestri/MANAUS-AM" target="_blank"> Pesquisadores </a></div>')[0];
                popup_d4dc6440100049d6a7177488e95117e0.setContent(html_7f19637243c347bbb6013e473243ed0d);
            

            marker_48ccd36f758b49f090524e7342751224.bindPopup(popup_d4dc6440100049d6a7177488e95117e0)
            ;

            
        
    
        var marker_e1db5f4e77794b9f9ec5c96a82ea574a = L.marker(
            [-3.1, -60.02],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_7e4e8c65cc0d4863b05bc185074cb1a7);
        
    
            var popup_e47c494230bd4ad897a7de8b3bc26873 = L.popup({maxWidth: '300'
            
            });

            
                var html_dd476cc934264b9d8bd2fea63e12f65b = $('<div id="html_dd476cc934264b9d8bd2fea63e12f65b" style="width: 100.0%; height: 100.0%;">MANAUS-AM</br> Total de Bolsas: 3</br><a href="http://127.0.0.1:8000/bolsa/listarrestri/MANAUS-AM" target="_blank"> Pesquisadores </a></div>')[0];
                popup_e47c494230bd4ad897a7de8b3bc26873.setContent(html_dd476cc934264b9d8bd2fea63e12f65b);
            

            marker_e1db5f4e77794b9f9ec5c96a82ea574a.bindPopup(popup_e47c494230bd4ad897a7de8b3bc26873)
            ;

            
        
    
        var marker_4005b37f17164ac0b9bb2f40c60ea7ca = L.marker(
            [-5.08, -42.8],
            {
                icon: new L.Icon.Default()
                }
            ).addTo(map_7e4e8c65cc0d4863b05bc185074cb1a7);
        
    
            var popup_13d4c96209d34b0c8f145920a272a8e7 = L.popup({maxWidth: '300'
            
            });

            
                var html_4f8fb55086e44a3a9be91e9f35694a34 = $('<div id="html_4f8fb55086e44a3a9be91e9f35694a34" style="width: 100.0%; height: 100.0%;">TERESINA-PI</br> Total de Bolsas: 1</br><a href="http://127.0.0.1:8000/bolsa/listarrestri/TERESINA-PI" target="_blank"> Pesquisadores </a></div>')[0];
                popup_13d4c96209d34b0c8f145920a272a8e7.setContent(html_4f8fb55086e44a3a9be91e9f35694a34);
            

            marker_4005b37f17164ac0b9bb2f40c60ea7ca.bindPopup(popup_13d4c96209d34b0c8f145920a272a8e7)
            ;

            
        
</script>