{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Observatório FAPEPI
{% endblock title %}

{% block totalBolsas %} {{ bolsas|length }} {% endblock totalBolsas %}

{% block totalProjetos %} {{ projetos|length }}{% endblock totalProjetos %}

{% block totalEvePar %} {{ eventosParticipacao|length }}{% endblock totalEvePar %}

{% block totalEveOrg %} {{ eventosOrganizacao|length }}{% endblock totalEveOrg %}

{% block contentEsquerda %}

    {% for bolsa in bolsas %}

        <h5> Pesquisador: {{ bolsa.pesquisador.nome }} </h5>
        <h6>
            <p>Instituição: {{ bolsa.instituicao.nome }} </p>
            <p>Localização: {{ bolsa.estado }} </p>
            <p>Programa: {{ bolsa.programa.nome }} </p>
            <p>Vigencia: {{ bolsa.vigencia }} </p>
        </h6>
        <hr/>

    {% endfor %}

{% endblock contentEsquerda %}


{% block contentDireita %}

    <object width="1080px" height="400px" type="text/html" data="http://127.0.0.1:8000/bolsa/mapa/bolsas">

    </object>

{% endblock contentDireita %}