{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Observatório FAPEPI
{% endblock title %}

{% block busca %}

    <form method="get">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" name="busca" placeholder="Buscar Pesquisador">
                <!--div>
                        <select class="form-control" name="instituicao">
                            {% block instituicoes %} {% endblock %}
                        </select>
                    </div>
                    <br/>
                    <div>
                        <select class="form-control" name="programa">
                            {% block programa %} {% endblock %}
                        </select>
                    </div>
                    <br/-->
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Pesquisar</button>
                </span>
            </div>
        </div>
    </form>

{% endblock busca %}

{% block totalBolsas %} {{ bolsas|length }} {% endblock totalBolsas %}

{% block totalProjetos %} {{ projetos|length }}{% endblock totalProjetos %}

{% block totalEvePar %} {{ eventosParticipacao|length }}{% endblock totalEvePar %}

{% block totalEveOrg %} {{ eventosOrganizacao|length }}{% endblock totalEveOrg %}

{% block totalPubli %} {{ publicacoes|length }}{% endblock totalPubli %}

{% block contentEsquerda %}

    {% for projeto in projetos %}

        <h5> Pesquisador: {{ projeto.pesquisador.nome }} </h5>
        <h6>
            <p>Nome: {{ projeto.titulo }} </p>
            <p>Resumo: {{ projeto.resumo }} </p>
            <p>Instituição: {{ projeto.instituicao.nome }} </p>
            <p>Localização: {{ projeto.estado }} </p>
            <p>Programa: {{ projeto.programa.nome }} </p>
            <p>Valor: {{ projeto.valor }} </p>
            <p>Vigencia: {{ projeto.vigencia }} </p>
        </h6>
        <hr/>

    {% endfor %}

{% endblock contentEsquerda %}

{% block contentDireita %}

    <object width="1080px" height="400px" type="text/html" data="http://127.0.0.1:8000/projeto/mapa/projetos/">

    </object>

{% endblock contentDireita %}