{% load staticfiles %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="title">
        Observatório FAPEPI
    </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% block favicon %}<link href="{% static 'media/images/favicon.png' %}" rel="shortcut icon" />{% endblock %}
</head>
<body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Observatório Fapepi</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'listar_bolsas' categoria='bolsas' %}">Mapas</a></li>
            <li class="active"><a href="{% url 'recursos' tipo='todos' %}">Recursos</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Sobre</a></li>
            <li ><a href="">Contatos</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <header class="cover"></header>
    <div id="filtros">
        <div class="row">
            <form method="get">
                <div class="col-md-12">
                    <div >
                        <!--div>
                            <select class="form-control" name="Ano">
                                <option value="Ano" selected>Ano</option>
                                <option value="2018" >2018</option>
                                <option value="2017" >2017</option>
                                <option value="2016" >2016</option>
                                <option value="2015" >2015</option>
                                <option value="2014" >2014</option>
                                <option value="2013" >2013</option>
                                <option value="2012" >2012</option>
                                <option value="2011" >2011</option>
                            </select>
                        </div>
                        <br/-->
                        <!--div>
                             <select class="form-control" name="Tipo">
                                 <option value="Tipo" selected>Tipo</option>
                                <option value="bolsa">Bolsa</option>
                                <option value="participacao" >Participação em Eventos</option>
                                <option value="organizacao" >Organização de Eventos</option>
                                <option value="projeto" >Projeto</option>
                                <option value="publicacao" >Publicação</option>
                            </select>
                        </div>
                        <br/>
                        <div>
                            <button class="btn btn-default" type="submit">Pesquisar</button>
                        </div-->
                        <h5>Tipos de Dados: </h5>
                        {% with tipo=request.GET.pesquisar %}
                            <button type="submit" class="btn btn-default {% if tipo == 'todos' %} disabled {% endif %}"
                            name="pesquisar" value="todos">Todos</button>
                            <button type="submit" class="btn btn-default {% if tipo == 'bolsa' %} disabled {% endif %}"
                            name="pesquisar" value="bolsa">Bolsas</button>
                            <button type="submit" class="btn btn-default {% if tipo == 'participacao' %} disabled {% endif %}"
                            name="pesquisar" value="participacao">Participação em Eventos</button>
                            <button type="submit" class="btn btn-default {% if tipo == 'organizacao' %} disabled {% endif %}"
                            name="pesquisar" value="organizacao">Organização de Eventos</button>
                            <button type="submit" class="btn btn-default {% if tipo == 'projeto' %} disabled {% endif %}"
                            name="pesquisar" value="projeto">Projetos</button>
                            <button type="submit" class="btn btn-default {% if tipo == 'publicacao' %} disabled {% endif %}"
                            name="pesquisar" value="publicacao">Publicações</button>
                        {% endwith %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="container-fluid">
        <div id="tabela">
            {% if request.GET.pesquisar == 'todos' %}
            <table class="table table-bordered">
                <tr class="info">
                    <th>Editais</th>
                    <th>Valores das Faixas</th>
                    <th>Valor Global</th>
                </tr>
                {% for edital in editais %}
                    <tr>
                        <td>{{edital.titulo}}</td>
                        <td>
                        {% for faixa in faixas %}
                            {% if faixa.edital.pk == edital.pk %}
                            {{faixa.nome}} - R$ {{faixa.valor}}<br/>
                            {% endif %}
                        {% endfor %}
                        </td>
                        <td>R$ {{edital.recurso}}</td>
                    </tr>
                {% endfor %}
                <tr class="active">
                    <td>Valor Total</td>
                    <td align="right" colspan="2">R$ {{totalRecursos}}</td>
                </tr>
            </table>
            {% endif %}
            {% if request.GET.pesquisar == 'bolsa' %}
            <table class="table table-bordered">
                <tr class="info">
                    <th>Edital</th>
                    <th>Quantidades</th>
                    <th>Total de Bolsas</th>
                </tr>
                {% for edital in editais %}
                    <tr>
                        {% if edital.tipo == 'bolsa'%}
                            <td>{{edital.titulo}}</td>
                            <td>
                                {% for faixa in faixas %}
                                    {% if faixa.edital.pk == edital.pk %}
                                        {{faixa.nome}} - {{faixa.quantidade}} Bolsas<br/>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for k, v in somaQuantidades.items %}
                                    {% if k == edital.pk %}
                                        {{ v }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                <tr class="active">
                    <td>Total de Bolsas</td>
                    <td align="right" colspan="2">{{totalQuantidade}} Bolsas</td>
                </tr>
            </table>
            {% endif %}
        </div>
    </div>
</body>